.calendar table > thead > tr > th.saturday { color: gray;}
.calendar table > thead > tr > th.sunday { color: red; }
.calendar table > tbody > tr > td > span.saturday { color: gray; }
.calendar table > tbody > tr > td > span.sunday { color: red; }
.calendar table > tbody > tr > td > span.holiday { color: red; }

/* calendar-controls */
.calendar > .calendar-header { position: relative; height: 50px; text-align: center;}
.calendar > .calendar-header > .calendar-yearmonth { display: inline-block; font-size: larger; font-weight: bolder; color: red; line-height: 50px; }
.calendar > .calendar-header > .calendar-controls { display: inline-block; vertical-align: top; margin: 11px 0 0 5px; }
.calendar > .calendar-header > .calendar-controls > button { float: left; width: 25px; height: 28px; padding: 1px 4px 0 4px; border: 1px solid #cbcbcb; background-color: #fff; font-size: 12px; cursor: pointer; }
.calendar > .calendar-header > .calendar-controls > button.calendar-today { width: 40px; }
/* calendar-views */
.calendar > .calendar-header > .calendar-views { position: absolute; top: 11px; right: 0px; }
.calendar > .calendar-header > .calendar-views > button { float: left; width: 40px; height: 28px; padding: 1px 4px 0 4px; border: 1px solid #cbcbcb; background-color: #f8f8f8; font-size: 12px; cursor: pointer; }
.calendar > .calendar-header > .calendar-views > button.active { border-color: #7f4ac8!important; background: #9155e5!important; color: #fff; }

.calendar { width: 100%; margin-bottom:20px;}
.calendar table { width: 100%; font-size:15px; border: 2px solid #dee2e6;}
.calendar table > thead > tr > th.saturday { color: blue; }
.calendar table > thead > tr > th.sunday { color: red; }
.calendar table > thead > tr > th { border: 2px solid #dee2e6; }
.calendar table > tbody > tr > td { text-align: center; border: 2px solid #dee2e6;}
.calendar table > tbody > tr > td > span { display: block; }
.calendar table > tbody > tr > td > span.saturday { color: blue; }
.calendar table > tbody > tr > td > span.sunday { color: red; }
.calendar table > tbody > tr > td > span.holiday { color: red; }
/* calendar month */
.calendar table > tbody > tr > td > span.today { border: 1px solid red; border-radius: 50%; color: white; background-color: red; }

.day:hover{
cursor:pointer;
}

.dayT:hover{
cursor:pointer;
}