<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/Main" class="site_title"><span>Android Golf</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
        </div>
<!--        <div class="profile_info">-->
<!--            <span>Welcome</span>-->
<!--            <h2 th:if="${session.name}!=null" th:text="${session.name}+'님 환영합니다!'">&lt;!&ndash;로그인시 여기다가 이름 띄워주면 좋을듯&ndash;&gt;</h2>-->
<!--        </div>-->
    </div>

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li th:class="${nowurl0 == '/Userinfo' ? 'current-page' : ''}">
                    <a href="/Userinfo"><!--<i class="fa fa-home"></i>--> 사용자 정보 <!--<span class="fa fa-chevron-down"></span>--></a>
                </li>
                <li th:class="${nowurl0 == '/Countryclub' ? 'current-page' : ''}">
                    <a href="/Countryclub"><!--<i class="fa fa-edit"></i>--> CC 정보 <!--<span class="fa fa-chevron-down"></span>--></a>
                </li>
                <li th:class="${nowurl0 == '/Course' ? 'current-page' : ''}">
                    <a href="/Course"><!--<i class="fa fa-edit"></i>--> 코스 정보 <!--<span class="fa fa-chevron-down"></span>--></a>
                </li>
                <li>
                    <a><!--<i class="fa fa-edit"></i>--> 예약정보 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/Reservation">구장별 타켓팅 정보</a></li>
                        <li><a href="/Reservation1">미확정 예약 정보</a></li>
                        <li><a href="/Reservation3">확정 예약 정보</a></li>
                    </ul>
                </li>
                <li th:class="${nowurl0 == '/Notice' ? 'current-page' : ''}">
                    <a href="/Notice"><!--<i class="fa fa-table"></i>--> 공지 사항 <!--<span class="fa fa-chevron-down"></span>--></a>
                </li>
                <li th:class="${nowurl0 == '/Question' ? 'current-page' : ''}">
                    <a href="/Question"><!--<i class="fa fa-bar-chart-o"></i>--> 문의 정보 <!--<span class="fa fa-chevron-down"></span>--></a>
                </li>
                <li th:class="${nowurl0 == '/Log' ? 'current-page' : ''}">
                    <a href="/Log"><!--<i class="fa fa-clone"></i>--> 로그 <!--<span class="fa fa-chevron-down"></span>--></a>
                </li>
<!--                <li th:class="${nowurl0 == '/formRI' ? 'current-page' : ''}">-->
<!--                    <a href="/formRI">&lt;!&ndash;<i class="fa fa-clone"></i>&ndash;&gt; 예약정보 입력 &lt;!&ndash;<span class="fa fa-chevron-down"></span>&ndash;&gt;</a>-->
<!--                </li>-->
                <li>
                    <a><!--<i class="fa fa-edit"></i>--> 네이버 밴드 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/Bandinfo">밴드 정보</a></li>
                        <li><a href="/Bandlog">진행 로그</a></li>
                        <li><a href="/Bandmember">밴드 멤버</a></li>
                        <li><a href="/Bandlogmember">결과 로그</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>